@mixin linkBtn(){
    
    background-color: $yellow;
    color: $white;
    font-family: $poppins;  
    font-weight: 500;
    border-radius: 12px;
    padding: 13px 22px;
    min-width: 150px;
    min-height: 40px;
}
@mixin outlinebtn{
    .outlinebtn{background-color: transparent;
    color:#fff;
    border-radius: 8px;
    width: 200px;
    height:80px;
    padding-top:20px;
    border: 1px solid white;
    }
  }

@mixin page(){
   font-family: $roboto; 
   margin-top: 10rem;
   margin-left: auto;
   margin-right: auto;
   width:$pagewidth;
}

@mixin miniHeader(){
      border-radius: 15px;
      background-color:rgba(255, 187, 0,0.4) ;
      padding: 15px;
      display: inline-block;
      font-weight: bold;
      color:rgb(255, 187, 0)

}

@mixin cropped($width,$height,$mt,$ms){
  
    width: $width;
    height:$height;
    margin-top:$mt;
    margin-left: $ms;
    
    background: $transparent;
    position: relative;
    overflow: hidden;
  
}

